*{
    margin:auto;
    padding:0;
    box-sizing: border-box;
}
.box{
    width:400px;
    height:400px;
    background: beige;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    transition: all;
    transition-duration: 3s;
    transition-timing-function: linear;
}
.box:hover{
    /* transform:rotate(360deg); */
    /* transform: rotate(-45deg); */
    /* transform: skew(-45deg); */
    transform:translate(500px,500px)
    
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
}