*{
    margin:0;
    padding:0;
}
h1{
    background: aquamarine;
    /* manual border   */
    /* border-style: solid;
    border-width: 2px;
    border-color: brown; */
    /* border-radius: 35px; */
    /* border-top-left-radius: 5px;
    border-top: 10px solid yellow; */
    border:black solid 2px;
    border-radius: 4px;
    width:350px;
    height: 200px;
    padding-left: 10px;
    padding-right: 20px;

    /* short hand */
    padding:10px 12px 14px 15px;

    padding:10px 20px;

    /* margin */
    margin:40px;
    margin-top:10px;
    margin-left:45px;
}

span{
    display: inline-block;
     background: aquamarine;
    /* manual border   */
    /* border-style: solid;
    border-width: 2px;
    border-color: brown; */
    /* border-radius: 35px; */
    /* border-top-left-radius: 5px;
    border-top: 10px solid yellow; */
    border:black solid 2px;
    border-radius: 4px;
    width:350px;
    height: 200px;
}


.para{
    background: lightcoral;
    /* short hand border  */
    border:2px solid red;
     border-radius: 3px;
     width:350px;
     padding:20px;
     margin:90px;
}
