.box{
    height: 400px;
    width:400px;
    background: red;
    border:2px solid black;
    /* transition-property: all;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function: linear; */

    /* short hand  */
    /* transition:all 2s 1s ease-in ; */
    transition: width 2s,height 5s;
}
.box:hover{
    width:1200px;
    height:900px;
    background: blue;
}