*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width:100%;
}
.container
{ 
    height: 100%;
    width:100%;
    display: grid;
    grid-template-areas: "header header header"
                        "sidebar main main"
                        "sidebar aside last"
                        "footer footer footer";
    background: beige;
    gap:1rem;
    padding:4rem;
}
.item{
    background: red;
    border:2px solid black;
    padding:1rem;
    display: grid; 
}
#header{
grid-area: header;
}
#main{
grid-area: main;
}
#sidebar{
grid-area: sidebar;
}
#aside{
grid-area: aside;
}
#last{
grid-area: last;
}
#footer{
grid-area: footer;
}