:root{
 --primary-color:brown;
--customm-width:330px;
}
h2{
    text-shadow: 
    2px 2px 3px red,
    4px 4px 6px blue,
    6px 6px 9px green;
    
}
.container{
    background: beige;
    height:600px;
    border:2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
   
    background: aquamarine;
    width: var(--customm-width);
    height: 350px;
    border:1px solid black;
    margin:5px;
    padding:20px;
/* box-shadow: -20px 10px brown; */
/* box-shadow:10px 15px 50px black; */
/* box-shadow:10px 15px 5px 2px black; */
/* box-shadow: inset 15px 10px brown; */
box-shadow:10px 15px var(--primary-color),15px 8px green;
}