*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width: 100vw;
}
.container{
    max-width: 100vw;
    padding:2rem 1rem; 
    margin:0 auto 0 auto; 
}
.header_container{
    margin-bottom:2.8rem;
}
.header_title{
    margin-bottom:1rem;
    font-size:1.7rem;
    line-height:2rem;
    font-weight:700;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}
.header_description{
    max-width:768px;
    text-align:center;
    color:rgba(0, 0, 0, 0.562);
    margin:0 auto;
}
.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    gap:1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(330px,400px));
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr); */
}
/* @media(min-width:650px)
{
    .main_container{
         grid-template-columns: repeat(2,1fr);
    }
}
@media(min-width:1080px)
{
    .main_container{
         grid-template-columns: repeat(3,1fr);
    }
}
@media(min-width:1340px)
{
    .main_container{
         grid-template-columns: repeat(4,1fr);
    }
}
@media(max-width:688px)
{
    .main_container{
        grid-template-columns: repeat(1,1fr);
    }
} */


.card_container{
    overflow: hidden;
    display:flex;
    flex-direction: column;
    border:1px solid grey;
    border-radius:4px;
    height:25rem;
    width:20rem;
    box-shadow: 1px 1px 10px 1px grey;
}
.card_image_container{
    position:relative;
    overflow: hidden;
   height:3rem;
}
.card_image{
    object-fit: cover;
    object-position:center;
    position:absolute;
    height:100%;
    width:100%;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding:1.5rem;
}
.card_container:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    color:rgba(45, 37, 37, 0.776);
    line-height: 1.5rem;
}
a{
    text-decoration: none;
}
.card_title:hover{
    color:rgb(56, 56, 152);
}
.card_para{
    color:rgba(43, 42, 42, 0.883);
    font-size:1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding:1.5rem;
}
.author_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}
.avatar_container{
    height:2.5rem;
    width:2.5rem;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border:1px solid grey;
    border-radius: 200px;
}
.author_info_continer{
    display: flex;
    flex-direction: column;
    color:rgba(41, 31, 31, 0.8);
    font-size: 1.1rem;
}
.card_tag_container{
    font-size:1.1rem;
    border:1px solid grey;
    border-radius: 5px;
    line-height: 1.4rem;
    padding:0.25rem 0.5rem;
    color:darkslategray;
    background:beige;
}