/* .box{
    background: aqua;
    height:400px;
    width:400px;
    border:3px solid black;
}

@media (min-width:300px)and (max-width:500px){
    .box
    {
        background: pink;
    }
} */


/* question 1 */

/* .container{
    display:flex;
    background: beige;
    border:4px solid black;
    height:600px;
    
}
.box{
    height:200px;
    width:200px;
    border:2px solid black;
    margin:3px;
    padding:2px;
}
#box1{
    background: red;
}

#box2{
    background: pink;
}

#box3{
    background: blue;
}
#box4{
    background: green;
}

@media (max-width:640px)
{
.container{
    flex-direction: column;
}
} */

/* question 2 */

.container{
    display: flex;
    height:1000px;
    width:1200px;
    background: beige;
    border:5px solid black;
    margin:10px;
    padding:15px;
}
.one{
    flex-direction: column;
    font-weight: bold;
    margin:10px;
}
#pic{
    float:right;
}
#para2{
    margin:20px;
    background: skyblue;
    padding:15px;
    height:100px;
    width:100px;
    border:1px solid black;
}
#para1{
     margin:20px;
    background: lightpink;
    padding:15px;
    height:100px;
    width:100px;
    border:1px solid black;
}
@media (max-width:640px)
{
    .container{
        flex-direction: column;
    }
}