*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:rgb(25, 67, 69);
   
}
.container{
    width:850px;
    height:450px;
    background-color: white;  
    margin-top:100px;
    display:flex;
}
.hug{
    display:flex;
    justify-content: center;
    align-items: center;
}
.box1{
width:30em;
height:100%;
background: rgb(57, 4, 57);
display: flex;
flex-direction: column;
/* align-items: center; */
padding:6%;
color:white;
}
.box1 p{
    margin-top:30px;
    font-size: 1.1rem;
}
.box{
    margin-top:10%;
    display:flex;
    align-items: center;
    justify-content: space-around;

}
.stat{
    text-align: center;
}
.box2{
width:20em;
height:100%;
}
img{
    height:100%;
    width:30em;
}