p{
    font-style: italic;
    font-size:16px;
    font-weight: bold;
    line-height: 13px;

}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#para1{
  color:green;
  background: yellow;
}

#para2{
  color:rgb(0,0,0);
  background: rgb(45,59,200)
}

#para3{
    color:rgba(50,59,57,1);
    background: rgba(180,0,0,1);
}

h2{
  color:#ffffff;
  background-color: hsl(50,100%,50%);
}


/* 
color 
rgb
rgba
hexa
hsl
 */