.container{
    background: wheat;
    width: 100vw;
    height: 100vh;
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}
.item{
    background: red;
    border-radius: 3px;
}
#first{
    grid-column-start: 1;
    grid-column-end: 3;
    background: orangered;
}
#two{
    grid-column-start: 3;
    grid-column-end: 5;
    background: red;
}
#three{
    background: green;
}
#four{
    grid-column-start: 2;
    grid-column-end: 5;
    background: forestgreen;
}
#five{
    grid-column-start: 1;
    grid-column-end: 5;
    background: orange;
}

