*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100vw;
}
.container{
    background: rgb(72, 125, 154);
    height:100%;
    width:100%;
    display: grid;
    padding:4rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
    gap:1em;
}
.item{
    background: slateblue;
    border:5px solid whitesmoke;
    text-align: center;
    color:white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:768px)
{
    .container{
    gap:1rem;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    }
#item1{
    grid-column-start: 1;
    grid-column-end: 4;
}
#item6{
    grid-column-start: 1;
    grid-column-end: 4;
}
#item2{
    grid-row-start: 2;
    grid-row-end: 4;
}
#item3{
    grid-column-start: 2;
    grid-column-end: 4;
}
}
