*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background: skyblue;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
.item{
    height: 100px;
    width: 100px;
    background: crimson;
    border:5px solid whitesmoke;
    color:whitesmoke;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    /* place-self: center; */
    align-items: center;
    border-radius: 2px;
    padding:10%;
}