.container{
    height: 100vh;
    width: 100vw;
    background: wheat;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.item{
background:red;
border-radius: 3px;
}
#first{
    grid-column-start: 1;
    grid-column-end: 3;
}
#two{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: orange;
}
#three{
    background: green;
}
#four{
    background: forestgreen;
}
