body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background: wheat;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}
.item{
    border-radius: 5px;
    background: red;
}
#one,#eight,#thirteen,#seventeen{
    background: green;
}
#two,#six,#nine,#sixteen{
    background: orangered;
}
#three,#five,#ten,#fifteen,#eighteen{
    background: forestgreen;
}

