.container{
    height: 100vh;
    width:100vw;
    background:wheat;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.item{
    border-radius: 5px;
    background: brown;
}
#first{
    background: orange;
    grid-column-start: 1;
    grid-column-end: 4;
}
#two{
    background: darkgreen;
    grid-row-start: 2;
    grid-row-end: 4;
}
#three{
    background: lightgreen;
    grid-column-start: 2;
    grid-column-end: 4;
}
#four{
    background: red;
}
#five{
    background: yellow;
}